@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');

:root {
    --box-shawdow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.outer-wrap {
    width: 100%;
    min-height: 100vh;
    background-color: #f5f7fa;
    padding: 30px;
}
.inner-wrap {
    max-width: 1200px;
    margin: auto;
}

.heading {
    margin: 10px auto 40px auto;
}
.heading .title {
    font-size: 30px;
    color: #000000;
    font-weight: 500;
    text-align: center;
}
.heading .subtitle {
    font-size: 30px;
    color: #000000;
    font-weight: 300;
    text-align: center;
}

.transaction-control {
    display: flex;
    justify-content: space-around;
}

.actions {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px 80px 20px 80px;
}

form input {
    display: flex;
    flex-direction: column;
}

.actions h3 {
    text-align: center;
}

.stats {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px 40px 20px 40px;
}

.transaction-history {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid red;
}

.income {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px 80px 20px 80px;
}

.expense {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px 80px 20px 80px;
}
